.logo-main,
.logo-mobile {
    width: 230px;
    filter: invert(10) saturate(0) brightness(3.5);
}

.logo-scroll {
    width: 210px;
}



/* Main Menu Styling */
/* Main Menu Styling */
.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu>li {
    position: relative;
    display: inline-block;
}

.menu-item,
.submenu-title {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    position: relative;
}

.arrow {
    margin-left: 10px;
    font-size: 0.8em;
}

/* Submenu Styling */
.submenu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    /* Hide submenu by default */
    padding: 20px;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 600px;
    /* Adjust width as needed */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Submenu Columns */
.submenu li {
    float: left;
    width: 25%;
    /* Adjust width according to the number of columns */
    box-sizing: border-box;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.submenu-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}

.submenu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu-items .menu-item {
    padding: 5px 0;
    color: #333;
    background-color: transparent;
}

/* Hover effect to show submenu */
.main-menu>li:hover .submenu {
    display: block;
}

/* Clear floats after submenu */
.submenu:after {
    content: "";
    display: table;
    clear: both;
}

/* Optional styling for submenu items on hover */
.submenu-items .menu-item:hover {
    background-color: #000000;
}